*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


:root{
    --bc--header-blue: #0084fd;
    --bc--demo_application-card-lightblue: #b5ddff;
    --col--demo_application-card-blue: #0084fd;
    --bc--strategic_planning-lilac: #9792e4;
    --bc-footer-brown-grey: #333333;
}

/*startregion utility*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.td-none{
    text-decoration: none;
}

.fil-invert100pc{
    filter: invert(100%);
}

.td-1s{
    transition-duration: 1s;
}

.of-contain{
    object-fit: contain;
}

.of-cover{
    object-fit: cover;
}

.cur-pointer{
    cursor: pointer;
}

.dis-inline-block{
    display: inline-block;
}

.ta-center{
    text-align: center;
}

.ta-end{
    text-align: end;
}

.dis-flex{
    display: flex;
}

.dis-none{
    display: none;
}

.jc-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}

.jc-flex-end{
    justify-content: flex-end;
}

.jc-flex-start{
    justify-content: flex-start;
}

.jc-space-around{
    justify-content: space-around;
}

.jc-space-between{
    justify-content: space-between;
}

.jc-space-evenly{
    justify-content: space-evenly;
}

.fd-column{
    flex-direction: column;
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.pos-fixed{
    position: fixed;
}

.bor-none{
    border: none;
}

.br-50pc{
    border-radius: 50%;
}

.bs-0_5_5_black{
    box-shadow: 0 5px 5px black;
}

.fw-wrap{
    flex-wrap: wrap;
}

.ar-1{
    aspect-ratio: 1 / 1;
}

.dis-none{
    display: none;
}

.ove-auto{
    overflow: auto;
}

.fs-x-small{
    font-size: x-small;
}

.fs-small{
    font-size: small;
}

.fs-medium{
    font-size: medium;
}

.fs-large{
    font-size: large;
}

.fs-x-large{
    font-size: x-large;
}

.fs-30px{
    font-size: 30px;
}

.fs-35px{
    font-size: 35px;
}

.fs-60px{
    font-size: 60px;
}

.wid-30pc{
    width: 30%;
}

.wid-70pc{
    width: 70%;
}

.wid-50pc{
    width: 50%;
}

.wid-100div5{
    width: calc(100% / 5);
}

.wid-33pc{
    width: 33.3%;
}

.wid-40px{
    width: 40px;
}

.wid-100pc{
    width: 100%;
}

.wid-70div5{
    width: calc(70% / 5);
}

.wid-50pc{
    width: 50%;
}

.hei-50pc{
    height: 50%;
}

.hei-100pc{
    height: 100%;
}

.hei-30pc{
    height: 30%;
}

.hei-65div4{
    height: calc(65% / 4);
}

.hei-500px{
    height: 500px;
}

.mar-auto{
    margin: auto;
}


.mtb-30px{
    margin: 30px 0;
}

.mtb-10px{
    margin: 10px 0;
}

.mtb-20px{
    margin: 20px 0;
}

.mb-60px{
    margin-bottom: 60px;
}

.mb-40px{
    margin-bottom: 40px;
}

.mb-100px{
    margin-bottom: 100px;
}

.mb-30px{
    margin-bottom: 30px;
}

.mrl-20px{
    margin:0 20px;
}

.mrl-3pc{
    margin:0 3%;
}

.mrl-40px{
    margin:0 40px;
}

.mr-40px{
    margin-right: 40px;
}

.mr-5px{
    margin-right: 5px;
}

.mr-10px{
    margin-right: 10px;
}

.pad-10px{
    padding: 10px;
}

.pad-20px{
    padding: 20px;
}

.ptb-10px{
    padding: 10px 0;
}

.ptb-130px{
    padding: 130px 0;
}

.ptb-20px{
    padding: 20px 0;
}

.ptb-40px{
    padding: 40px 0;
}

.ptb-100px{
    padding: 100px 0;
}

.pt-20px{
    padding-top: 20px;
}

.pt-130px{
    padding-top: 130px;
}

.pt-40px{
    padding-top: 40px;
}

.pt-60px{
    padding-top: 60px;
}

.pb-5px{
    padding-bottom: 5px;
}

.pb-10px{
    padding-bottom: 10px;
}

.prl-20px{
    padding: 0 20px;
}

.prl-40px{
    padding: 0 40px;
}

.pr-20px{
    padding-right: 20px;
}

.pl-20px{
    padding-left: 20px;
}

.lh-20px{
    line-height: 20px;
}
/*endregion utility*/
 
/*startregion header*/
header{
    background-color: #0084fd;
    height: 80px;
}

header img{
    width: 80px;
}

header i{
    font-size: 23px;
}
/*endregion header*/


/*startregion main*/
/*startsection demo_application*/

.demo_application .col, .demo_application .card{
    background-color: var(--bc--demo_application-card-lightblue);
    border-radius: 30px;
}

.demo_application .card i{
    color: var(--bc--header-blue);
    font-size: 100px;
}

.demo_application .col button{
    width: 80%;
    background-color: var(--bc--header-blue);
    border-radius: 20px;
    color: white;
    padding: 10px;
}

.demo_application .col button span{
    letter-spacing: 4px;
}
/*endsection demo_application*/

/*startsection strategic_planning*/
.strategic_planning{
    background-color: var(--bc--strategic_planning-lilac);
}

.strategic_planning .plan1{
    color: white;
}

.strategic_planning .plan2 .container{
    background-color: white;
    border-radius: 60px;
}

.strategic_planning .plan2 i{
    background-color: var(--bc--strategic_planning-lilac);
    padding: 20px;
}
/*endsection strategic_planning*/

/*startsection testimonials*/
.testimonials .card{
    background-color: var(--bc--strategic_planning-lilac);
    border-radius: 20px;
}
/*endsection testimonials*/

/*startsection benefits*/
.benefits{
    background-color: var(--bc--strategic_planning-lilac);
}

.benefits .card{
    background-color: white;
    border-radius: 20px;
}

.benefits .card a{
    background-color: var(--bc--strategic_planning-lilac);
    padding: 7px 35px;
    border-radius: 20px;
    border: none;
    color: aliceblue;
}
/*endsection benefits*/

/*startsection  about_us*/
.about_us p{
    line-height: 35px;
}

.about_us i{
    top: 0;
    right: 0;
    font-size: 30px;
}

.about_us .col a{
    background-color: var(--bc--strategic_planning-lilac);
    padding: 10px 12px;
    border-radius: 20px;
    border: none;
    color: aliceblue;
}

.about_us .col a i{
    font-size: medium;
}
/*endsection  about_us*/

/*startsection  get_started*/
.get_started{
    background-color: var(--bc--strategic_planning-lilac);
    color: white;
}

.get_started div a{
    color: #9792e4;
    background-color: white;
    padding: 15px 80px;
    border-radius: 40px;
}
/*endsection  get_started*/
/*endregion main*/


/*startregion footer*/
footer{
    background-color: var(--bc-footer-brown-grey);
    color: rgba(255, 255, 255, 0.558);
}
/*endregion footer*/

/*ENDREPO MOBILE*/


/*STARTREPO TABLET*/
@media screen and (min-width: 581px) and (max-width:1151px){

/*startregion utility*/
.tab-dis-flex{
    display: flex;
}

.tab-fw-wrap{
    flex-wrap: wrap;
}

.tab-wid-33pc{
    width: 33%;
}

.tab-wid-50pc{
    width: 50%;
}

.tab-wid-65pc{
    width: 65%;
}

.tab-wid-96div3{
    width: calc(96% / 3);
}

.tab-wid-98div2{
    width: calc(98% / 2);
}

.tab-mr-2pc{
    margin-right: 2%;
}

.tab-prl-50px{
    padding: 0 50px;
}

.tab-mt-50px{
    margin-top: 50px;
}

.tab-jc-flex-start{
    justify-content: flex-start;
}

.tab-jc-space-between{
    justify-content: space-between;
}

.tab-ta-start{
    text-align: start;
}
/*endregion utility*/
}
/*ENDREPO TABLET*/



/*STARTREPO DESKTOP*/
@media screen and (min-width: 1152px){
    
/*startregion utility*/
.dsk-dis-flex{
    display: flex;
}

.dsk-jc-flex-start{
    justify-content: flex-start;
}

.dsk-hei-100pc{
    height: 100%;
}

.dsk-wid-60pc{
    width: 70%;
}

.dsk-dis-block{
    display: block;
}

.dsk-ai-end{
    align-items: flex-end;
}

.dsk-pad-0{
    padding: 0;
}

.dsk-mar-0{
    margin: 0;
}

.dsk-mar-auto{
    margin: auto;
}

.dsk-dis-none{
    display: none;
}

.dsk-fw-wrap{
    flex-wrap: wrap;
}

.dsk-wid-33pc{
    width: 33%;
}

.dsk-wid-50pc{
    width: 50%;
}

.dsk-wid-65pc{
    width: 65%;
}

.dsk-pr-30px{
    padding-right: 30px;
}

.dsk-pl-30px{
    padding-left: 30px;
}

.dsk-wid-100pc{
    width: 100%;
}

.dsk-wid-70pc{
    width: 70%;
}

.dsk-wid-25pc{
    width: 25%;
}

.dsk-hei-75pc{
    height: 75%;
}

.dsk-wid-96div3{
    width: calc(96% / 3);
}

.dsk-wid-98div2{
    width: calc(98% / 2);
}

.dsk-mr-2pc{
    margin-right: 2%;
}

.dsk-ar-1{
    aspect-ratio: 1 / 1;
}

.dsk-jc-center{
    justify-content: center;
}

.dsk-jc-flex-end{
    justify-content: flex-end;
}

.dsk-ai-center{
    align-items: center;
}

.dsk-ptb-60px{
    padding: 60px 0;
}

.dsk-ptb-20px{
    padding: 20px 0;
}

.dsk-jc-space-between{
    justify-content: space-between;
}

.dsk-ta-start{
    text-align: start;
}

.dsk-prl-50px{
    padding: 0 50px;
}

.dsk-mt-50px{
    margin-top: 50px;
}

.dsk-mb-20px{
    margin-bottom: 20px;
}
/*endregion utility*/

/*startregion header*/
nav{
    width: 40%;
}

nav .last_col a{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

nav .col a{
    color: white;
}


/*endregion header*/

}
/*ENDREPO DESKTOP*/
