*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


:root{
    -bc--header-blue: #0084fd;
    -bc--demo_application-card-lightblue: #b5ddff;
    -col--demo_application-card-blue: #0084fd;
    -bc--strategic_planning-lilac: #9792e4;
}

/*startregion utility*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.va-bottom{
    vertical-align: bottom;
}

.td-none{
    text-decoration: none;
}

.fil-invert100pc{
    filter: invert(100%);
}

.td-1s{
    transition-duration: 1s;
}

.cur-pointer{
    cursor: pointer;
}

.dis-inline-block{
    display: inline-block;
}

.ta-center{
    text-align: center;
}

.ta-end{
    text-align: end;
}

.dis-flex{
    display: flex;
}

.dis-none{
    display: none;
}

.jc-center{
    justify-content: center;
}

.ai-center{
    align-items: center;
}

.jc-flex-end{
    justify-content: flex-end;
}

.jc-flex-start{
    justify-content: flex-start;
}

.jc-space-around{
    justify-content: space-around;
}

.jc-space-between{
    justify-content: space-between;
}

.jc-space-evenly{
    justify-content: space-evenly;
}

.fd-column{
    flex-direction: column;
}

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.pos-fixed{
    position: fixed;
}

.bor-none{
    border: none;
}

.br-50pc{
    border-radius: 50%;
}

.bs-0_5_5_black{
    box-shadow: 0 5px 5px black;
}

.fw-wrap{
    flex-wrap: wrap;
}

.ar-1{
    aspect-ratio: 1 / 1;
}

.dis-none{
    display: none;
}

.ove-auto{
    overflow: auto;
}

.fs-x-small{
    font-size: x-small;
}

.fs-small{
    font-size: small;
}

.fs-medium{
    font-size: medium;
}

.fs-large{
    font-size: large;
}

.fs-x-large{
    font-size: x-large;
}

.fs-30px{
    font-size: 30px;
}

.fs-35px{
    font-size: 35px;
}

.wid-30pc{
    width: 30%;
}

.wid-70pc{
    width: 70%;
}

.wid-50pc{
    width: 50%;
}

.wid-100div5{
    width: calc(100% / 5);
}

.wid-33pc{
    width: 33.3%;
}

.wid-40px{
    width: 40px;
}

.wid-100pc{
    width: 100%;
}

.wid-50pc{
    width: 50%;
}

.hei-50pc{
    height: 50%;
}

.hei-100pc{
    height: 100%;
}

.hei-30pc{
    height: 30%;
}

.hei-65div4{
    height: calc(65% / 4);
}

.hei-500px{
    height: 500px;
}

.mar-auto{
    margin: auto;
}


.mtb-30px{
    margin: 30px 0;
}

.mtb-10px{
    margin: 10px 0;
}

.mtb-20px{
    margin: 20px 0;
}

.mb-60px{
    margin-bottom: 60px;
}

.mb-40px{
    margin-bottom: 40px;
}

.mb-30px{
    margin-bottom: 30px;
}

.mrl-20px{
    margin:0 20px;
}

.mrl-40px{
    margin:0 40px;
}

.mr-40px{
    margin-right: 40px;
}

.mr-5px{
    margin-right: 5px;
}

.mr-10px{
    margin-right: 10px;
}

.pad-10px{
    padding: 10px;
}

.pad-20px{
    padding: 20px;
}

.ptb-10px{
    padding: 10px 0;
}

.ptb-130px{
    padding: 130px 0;
}

.ptb-20px{
    padding: 20px 0;
}

.ptb-100px{
    padding: 100px 0;
}

.pt-20px{
    padding-top: 20px;
}

.pt-130px{
    padding-top: 130px;
}

.pt-40px{
    padding-top: 40px;
}

.pt-60px{
    padding-top: 60px;
}

.pb-5px{
    padding-bottom: 5px;
}


.pb-10px{
    padding-bottom: 10px;
}

.prl-20px{
    padding: 0 20px;
}

.prl-40px{
    padding: 0 40px;
}

.pr-20px{
    padding-right: 20px;
}

.pl-20px{
    padding-left: 20px;
}
/*endregion utility*/


/*startregion header*/
header{
    background-color: #0084fd;
    height: 80px;
}

header>img{
    width: 80px;
}

header>i{
    font-size: 23px;
}
/*endregion header*/


/*startregion main*/


/*startsection demo_application*/

.demo_application .col, .demo_application .card{
    background-color: #b5ddff;
    border-radius: 30px;
}

.demo_application .card i{
    color: #0084fd;
    font-size: 100px;
}

.demo_application .col button{
    width: 80%;
    background-color: #0084fd;
    border-radius: 20px;
    color: white;
    padding: 10px;
}

.demo_application .col button span{
    letter-spacing: 4px;
}
/*endsection demo_application*/

/*startsection strategic_planning*/
.strategic_planning{
    background-color: #9792e4;
}

.strategic_planning .plan1{
    color: white;
}

.strategic_planning .plan2{
    background-color: white;
    border-radius: 60px;
}

.strategic_planning .plan2 i{
    background-color: #9792e4;
    padding: 20px;
}
/*endsection strategic_planning*/

/*startsection testimonials*/
.testimonials .card{
    background-color: #9792e4;
    border-radius: 20px;
}
/*endsection testimonials*/

/*startsection benefits*/
.benefits{
    background-color: #9792e4;
}

.benefits .card{
    background-color: white;
    border-radius: 20px;
}

.benefits .card a{
    background-color: #9792e4;
    padding: 7px 35px;
    border-radius: 20px;
    border: none;
    color: aliceblue;
}
/*endsection benefits*/

/*startsection  about_us*/
.about_us p{
    line-height: 35px;
}
/*endsection  about_us*/



/*endregion main*/


/*startregion footer*/
/*endregion footer*/